*{
    margin: 0;
    padding: 0;
}
.main-container{
    margin-left: 60px;
    width: 90%;
    border: 2px solid;
    position: fixed;
    margin-bottom: 20px;


}
.first-image-container{
    border: 2px solid;
    width: 90%; 
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 30px;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    gap: 10px;
    position: relative;

}
.first-image-container p{
    background-color: black;
    color: aliceblue;
    font-size: larger;
    padding: 5px;
    position: absolute;
    top: 120px;
    margin-left: 70px;
    border-radius: 5px;
    
}
.item-container-1,.item-container-2,.item-container-3,.item-container-4{
    width: 100%;
    display: flex;
    display: inline-block;
    object-fit: cover;
}
img{
    width: 200px;
    height: 200px;
    display: flex;
    object-fit: cover;
    border-radius: 100px;
    align-items: center;
    
    
}

 
.second-image-container{
    border: 2px solid;
    width: 90%; 
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 20px;
    gap: 10px;
    position: relative;
} 
.second-image-container p{
    background-color: black;
    color: aliceblue;
    font-size: larger;
    padding: 5px;
    position: absolute;
    top: 120px;
    margin-left: 70px;
    border-radius: 5px;
    
}
.item-container-5,.item-container-6,.item-container-7,.item-container-8{
   width: 100%;
    display: flex;
    display: inline-block;
}


